.container {
  width:100%;
  padding:auto;
  
  margin: 0px;
  max-width:100%;
  max-height:100%;
}
body{
  margin:0;
}

.main {
  min-height:fit-contet;
  margin:0px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;  
}


.img{
      border-radius: 20px;
      box-shadow: -4px 5px 12px black;
      transition: transform 1s;
    } 

.img:hover{
  transform: scale(2);
  }

  .nav{
    display:flex;
    flex-direction:row;
 gap: 3rem ;
 width:100%;
 justify-content: center;
 align-items: center;
 align-self:stretch;
 padding: 10px 0px 20px;
 
 
}
#nav-background{
  border-bottom: 1px solid blueviolet;
  background-image:linear-gradient(to right,rgba(61, 61, 175, 0.219), rgba(248, 248, 248, 0.082), rgba(61, 61, 175, 0.219));
}
.item{
  flex-wrap:wrap;
  padding:4px 30px 4px;
  text-align:center;
  background-color:  rgba(234, 234, 234, 0.6);
  text-decoration: none;
  border: 1px solid rgba(234, 234, 234, 0.6);
  border-radius: 20px;
  /* transition: color 0.15s ease, border-color 0.15s ease; */
  max-width: 100%;
  font-size: 22px;
  transition: transform 1s;
  
}
.item2{
  
  text-align:center;
  background-color:  rgba(234, 234, 234, 0.1);
  text-decoration: none;
  border: 1px solid rgba(132, 159, 247, 0.9);
  border-radius: 70px;
  /* transition: color 0.15s ease, border-color 0.15s ease; */
  width: 80%;
  justify-content: center;
  font-size: 22px;
  transition: transform 0.7s;
  
}



.item:hover,
.item:focus,
.item:active,
.item2:hover,
.item2:focus,
.item2:active,
.menu_icon:active,
.menu_icon:focus
{
  
  border-color: blue;
  transform: scale(1.1);
  z-index: 1;
  
}

.dropdown{
  
  background-iage: url("../public/cancel.svg");
  display: flex;
  flex-direction: column;
  gap:200px;
  min-width: 100%;
  padding:10px;
  margin: 0px;
  border-radius: 10px;
  /* background-color:#0071f311; */
}
@media (max-width:1104px)
{
  .container{
    max-height: min-content;
    min-height: min-content;
  }
  
  .nav{ 
    align-self: left;
    justify-content: left;
    gap:10px; 
    padding:0;
    margin:0%;
    background-image:linear-gradient(to right,rgba(61, 61, 175, 0.219), rgba(248, 248, 248, 0.082));
    border-bottom: 1px solid rgba(122, 152, 187, 0.8);
    
  }

  .item{
    display: none;
  }
  
  /* .item{
  } */
  
  .menu_icon{
    display:block;
    background-image: url("../public/menuIcon.ico");
    background-repeat:no-repeat;
    background-size:cover;  
    margin-left: auto;
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid rgba(63, 78, 78, 0);
    border-radius: 20px;
    min-width: 70px;
    min-height: 60px;
    transition: transform 1s;
  }
  
  .cancel{
    display:block;
    background-image: url("../public/cancel.svg");
    background-repeat:no-repeat;
    background-size:cover;  
    margin-left: auto;
    margin-top:5px;
    margin-right: 5px;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid rgba(63, 78, 78, 0);
    border-radius: 20px;
    min-width: 50px;
    min-height: 50px;
    transition: transform 1s;
  }
  
  .img:hover{
    transform: none;
  }

  
  
}

@media (min-width:1104) {
  .nav{

    display: flex;
    flex-direction: column;
  }
  .item{
    display: flex;
  }
  .menu_icon{
    display: none;
  }
}


.title {
  font-weight: 100%;
  font-size:1rem;
  font-style: italic;
  width: 100%;
  text-align: center;
    
}

#titleBackground{
  background-image:linear-gradient(to right,rgba(61, 61, 175, 0.219), rgba(248, 248, 248, 0.082), rgba(61, 61, 175, 0.219));
}


.title h2 {

  font-size:40px;
  font-weight:200;
  margin:10px auto 10px;
    

}


.content{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
 
}

.content h2{
  font-family:'Times New Roman', Times, serif;
  /* font-size: 30px; */
  font-weight: 100;
  margin-bottom: 0px;
  
}
.content p{
  margin: 0;
  font-size: 12px;
}

.description {
  border-bottom: 1px solid blue;
  margin: 40px 2rem 35px;
  padding: 0px 1rem 20px;
  font-style: italic;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  max-width: 800px;
}


.card_container{
  
  padding: 2rem 5rem 2rem;
  gap:1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-self:center;
  flex-wrap: wrap;
  height: auto;

}
.card {
  
  flex-direction: column;
  margin: 0px;
  padding: 5px;
  width: 7rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.4s;
  

}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: 1px solid #0070f3;
  box-shadow: 1px 1px 3px rgba(26, 25, 25, 0.733);
  transform: scale(1.1);

}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}


.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1;
  color: #0070f3;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
}

.logoBackground{
  background-image: url("../public/purpleDesign.svg");
  background-size: cover;
  height:auto;
  
}
.logo {
  height:5rem;
  width: 5rem;
  padding: 4px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }}
  
  .footer {
    display: flex;
    column-gap: 20px;
    padding:0px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:80px;

  }
  
  .footer a {
    height: 50px;
    width:  60px;
    padding:0;
    transition: transform 0.7s;
    
  }
.footer a:hover,
.footer a:active,
.footer a:focus{
  transform:scale(1.5);
  z-index: 2;
  transform: scale(1.5);
}